/*Main body of page*/
main {overflow: auto; min-height: 300px; position: auto; margin: auto; padding-top: 30px; }

.rectangle1 {
   width:160px;
   height:200px;
   background-color:blue;
   position:fixed;
   top:310px;
   left:100px;
}

.rectangle2 {
    width:160px;
    height:200px;
    background-color:blue;
    position:fixed;
    top:310px;
    left:290px;
 }

 .rectangle3 {
   width:160px;
   height:200px;
   background-color:blue;
   position:fixed;
   top:310px;
   left:480px;
}

.rectangle4 {
   width:160px;
   height:200px;
   background-color:blue;
   position:fixed;
   top:310px;
   left:670px;
}

.rectangle5 {
   width:160px;
   height:200px;
   background-color:blue;
   position:fixed;
   top:310px;
   left:860px;
}

.rectangle6 {
   width:160px;
   height:200px;
   background-color:blue;
   position:fixed;
   top:310px;
   left:1050px;
}
