* { margin: 0; }

.header_top {
    position: absolute;
    z-index: 2;
    overflow: hidden;
}

.header_bottom {
    position: absolute;
    top: 10%;
    z-index: 3;
    overflow: hidden;
}

.logo {
    position: absolute;
    left: 2.5%;
    top: 2.5%;
    z-index: 4;
}