.col-md-8 {
    background-image: url("../Images/login-bg.jpg");
    height:100vh;
    min-width:70%;
}

.col-md-4 {
    background-image: url("../Images/ChileanFlamingo.jpg");
    background-size: cover;
    height:100vh;
    border-right:solid 10px black;
    max-width:30%;
    min-width:0%;
   
}

.container {
    min-height: 100%;
}

.salisburyZooLogoImage {
    position: absolute;
    left: 27%;
    top:2%;
}

.loginForm {
    position: absolute;
    left: 25%;
    top:40%;

}