/* contains header, zoo logo, nav bar, and footer*/

* {margin: 0; padding: 0; }

body {font-family: Arial, Helvetica, Sans-serif;}

/*Header and zoo logo*/
img {display: block; margin-top: 30px; margin-left: 30px; float: left; position: relative; max-width: 90%; }
header {display: block; background-image: url('../Images/leaves.png'),
        url('../Images/Header/header-bg.jpg');
        background-repeat: repeat-x; background-size: cover;  height: 90px; }

/*Start of navigation bar */
nav {background-image: url('../Images/Header/nav-bg.jpg'); background-repeat: repeat-x; height: auto;}
nav a {color: teal; font-size: medium; font-weight: bold; text-decoration: none; white-space: nowrap;}
nav a:hover {color: aqua;}
nav ul {display: table; width: 200px; margin: auto;}
nav li {display: table-cell; text-align: center; padding: 1em;}
/*End navigation bar*/

/*Footer aka copyright */
footer {position: absolute; bottom: 0; width: 100%; background-color: #FFC0A7 ; font-size: 0.8em;}