article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
}
sidebar{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 10px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

.box{
    text-align: center;
    overflow: auto;
    border: 2px solid black;
    border-radius: 3%;
    width: 525px;
    height: 410px;
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 10%;
  }

.search-results-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .search-result-box {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    
  }
  
  .search-result-box h2 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .search-result-box p {
    margin: 0;
    font-size: 16px;
  }
