/*First Page Jumbotron*/
.jumbotron
{
    background: url('../img/entrance.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 100%;
    margin: 0 !important;
    padding: 10%;

}

